// Crop marks
// This module only contains CSS; simply add the "crop" class to a container
// to draw crop marks at the corners.


$crop-mark-length: 0.25in;
$crop-mark-thickness: 1pt;

.crop {
    background-color: inherit;

    &:before, &:after {
        position: absolute;
        z-index: -1;
        content: '';
        border: solid;
    }
    &:before {
        top: -$crop-mark-length;
        bottom: -$crop-mark-length;
        left: 0; right: 0;
        border-width: 0 $crop-mark-thickness;
    }
    &:after {
        top: 0; bottom: 0;
        left: -$crop-mark-length;
        right: -$crop-mark-length;
        border-width: $crop-mark-thickness 0;
    }
}
