// Fold marks
// This module only contains CSS; simply add the "fold" class to a
// container to draw crop marks above and below it.


$fold-mark-length: 0.25in;
$fold-mark-thickness: 1pt;

.fold {
    // vertical fold mark
    &-vert:before {
        position: absolute;
        top: -0.25in;
        bottom: -0.25in;

        // if using "left" to align the mark, swap these values -- otherwise
        // the pseudo-element will have a small width and incorrect position
        left: auto;
        right: 0;

        z-index: -1;
        content: '';

        border: solid;
        border-width: 0 1pt 0 0;
    }
}
