// Blank j-card template


// dimensions
$jcard-height: 4in;
$jcard-back-width: 1in;
$jcard-short-back-width: 0.6in;
$jcard-spine-width: 0.5in;
$jcard-front-width: 2.556in;
$jcard-panel-medium-padding: 0.15in;
$jcard-panel-small-padding: 0.05in;

// side labels
$jcard-side-a-text: "Side A";
$jcard-side-b-text: "Side B";
$jcard-side-sep: ":";

// text
$jcard-line-height: 1.1;
$jcard-track-line-height: 1.2;

.jcard {
    $jcard-width: $jcard-back-width + $jcard-spine-width + $jcard-front-width;
    $jcard-fold-1-pos: $jcard-back-width;
    $jcard-fold-2-pos: $jcard-back-width + $jcard-spine-width;

    width: $jcard-width;
    height: $jcard-height;
    text-transform: uppercase;
    line-height: $jcard-line-height;

    // fold markers
    &-fold-1 { right: $jcard-width - $jcard-fold-1-pos; }
    &-fold-2 { right: $jcard-width - $jcard-fold-2-pos; }

    // common
    &-front-title-group, &-spine-title-group  {
        font-weight: bold;
        white-space: nowrap;
    }

    // back
    &-back {
        position: absolute;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        width: $jcard-height;
        height: $jcard-back-width;

        transform-origin: bottom left;
        transform:
            translateY(-$jcard-back-width)
            rotate(90deg);

        text-align: center;
    }
    &-side-a { margin: 0 $jcard-panel-medium-padding $text-narrow-gap; }
    &-side-b { margin: 0 $jcard-panel-medium-padding; }
    &-side-a:empty, &-side-b:empty { display: none; }

    &-side-a::before, &-side-b::before {
        font-weight: bold;
        display: block;
    }
    &-side-a::before { content: $jcard-side-a-text; }
    &-side-b::before { content: $jcard-side-b-text; }

    // spine
    &-spine {
        $jcard-spine-pos: $jcard-back-width;

        position: absolute;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        width: $jcard-height;
        height: $jcard-spine-width;

        transform-origin: bottom left;
        transform:
            translate($jcard-spine-pos, -$jcard-spine-width)
            rotate(90deg);
    }
    &-spine-title-group {
        margin-left: $jcard-panel-medium-padding;
    }
    &-note-group {
        margin-right: $jcard-panel-medium-padding;
        text-align: right;
    }

    // front
    &-front {
        $jcard-front-pos: $jcard-back-width + $jcard-spine-width;

        position: absolute;
        left: $jcard-front-pos;

        width: $jcard-front-width;
        height: $jcard-height;
    }
    &-cover {
        display: block;
        width: $jcard-front-width;
        height: $jcard-front-width;
        object-fit: cover;
    }
    &-front-group {
        $jcard-front-group-height: $jcard-height - $jcard-front-width;

        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: space-between;
        text-align: center;

        height: $jcard-front-group-height - (2 * $jcard-panel-small-padding);
        padding: $jcard-panel-small-padding $jcard-panel-medium-padding;
    }
    &-tracks { line-height: $jcard-track-line-height; }

    // short back
    &.short-back &-crop { left: $jcard-back-width - $jcard-short-back-width; }
    &.short-back &-back {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        height: $jcard-short-back-width;
        transform:
            translateY(-$jcard-short-back-width)
            rotate(90deg)
            translateY($jcard-short-back-width - $jcard-back-width);

        width: $jcard-height - $jcard-panel-medium-padding;
        padding: 0 ($jcard-panel-medium-padding / 2);

        text-align: left;
    }
    &.short-back &-side-a, &.short-back &-side-b {
        flex: 1;
        margin: 0 ($jcard-panel-medium-padding / 2);
    }

    &.short-back &-side-a::before, &.short-back &-side-b::before {
        display: inline;
        margin-right: $text-narrow-gap;
    }
    &.short-back &-side-a::before { content: $jcard-side-a-text + $jcard-side-sep; }
    &.short-back &-side-b::before { content: $jcard-side-b-text + $jcard-side-sep; }
}
