<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4.0" />
        <link href="/styles/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="column">
            {{ content }}
            <footer id="footer" class="noprint">
                <span>This template is free for all kinds of use and <a href="{{ site.repo }}">open source</a>.</span>
            </footer>
        </div>
    </body>
</html>
