---
layout: base
---
<article id="jcard">
    <header class="noprint">
        <h1>{{ page.title }}</h1>
    </header>
    <div class="card">
        <div class="bleed">
            <div class="crop-marks"></div>
            <div class="fold-1 vert-fold-mark"></div>
            <div class="fold-2 vert-fold-mark"></div>
        </div>
        <div class="back">
            <div class="side-a">
                <div class="label">Side A</div>
                <div class="tracks"></div>
            </div>
            <div class="side-b">
                <div class="label">Side B</div>
                <div class="tracks"></div>
            </div>
        </div>
        <div class="spine">
            <div class="left">
                <div class="title"></div>
                <div class="subtitle"></div>
            </div>
            <div class="right">
                <div class="note-top"></div>
                <div class="note-bottom"></div>
            </div>
        </div>
        <div class="front">
            <img class="cover" src="{{ page.jcard.cover }}" alt="Cover image" />
            <div class="bottom">
                <div class="title-group">
                    <div class="title"></div>
                    <div class="subtitle"></div>
                </div>
                <div class="tracks"></div>
                <div class="type"></div>
            </div>
        </div>
    </div>
    <div class="noprint">
        <h2>Instructions</h2>
        <p>Fill out the form below to update the template. Print this page from your browser when you are done.</p>
        <form class="options">
            <h2>Options</h2>
            <div>
                <label>Colors</label>
                <input class="card-color" type="color" value="{{ page.jcard.card_color }}"
                /><input class="text-color" type="color" value="{{ page.jcard.text_color }}" />
            </div>
            <div>
                <label>Cover</label>
                <input class="cover" type="file" />
            </div>
            <div>
                <label>Short Back</label>
                <input class="short-back" type="checkbox" />
            </div>
            <div>
                <label>Title</label>
                <input class="title" type="text" value="{{ page.jcard.title }}" />
            </div>
            <div>
                <label>Subtitle</label>
                <input class="subtitle" type="text" value="{{ page.jcard.subtitle }}" />
            </div>
            <div>
                <label>Note</label>
                <input class="note-top narrow" type="text" value="{{ page.jcard.note_top }}"
                /><input class="note-bottom narrow" type="text" value="{{ page.jcard.note_bottom }}" />
            </div>
            <div>
                <label>Type</label>
                <input class="type" type="text" value="{{ page.jcard.type }}" />
            </div>
            <div>
                <label>Side A</label>
                <textarea class="side-a">{{ page.jcard.side_a | join: '&#10;' }}</textarea>
            </div>
            <div>
                <label>Side B</label>
                <textarea class="side-b">{{ page.jcard.side_b | join: '&#10;' }}</textarea>
            </div>
        </form>
    </div>    
</article>
<script>
    (function() {
        //
        function addColorListener(inputElement, outputElement, styleProperty) {
            function update() {
                outputElement.style[styleProperty] = inputElement.value;
            }

            inputElement.addEventListener("input", update);
            return update;
        }

        //
        function addImageListener(inputElement, outputElement) {
            inputElement.addEventListener("change", function(event) {
                outputElement.src = URL.createObjectURL(inputElement.files[0]);
            });
        }

        //
        function addCheckboxListener(inputElement, outputElements, toggleClass) {
            function update() {
                var enabled = inputElement.checked;
                outputElements.forEach(function(element) {
                    if (enabled) {
                        element.classList.add(toggleClass);
                    } else {
                        element.classList.remove(toggleClass);
                    }
                });
            }

            inputElement.addEventListener("change", update);
            return update;
        }

        // 
        function addInputListener(inputElement, outputElements) {
            function update() {
                outputElements.forEach(function(element) {
                    element.innerHTML = inputElement.value;
                });
            }

            inputElement.addEventListener("input", update);
            return update;
        }

        //
        function addTrackListener(inputElements, outputElements, trackElement, separator) {
            function update() {
                var sides = inputElements.map(function(element, index) {
                    var tracks = element.value.replace(/\n/g, separator);
                    outputElements[index].innerHTML = tracks;
                    return tracks;
                });
                trackElement.innerHTML = sides.join(separator);
            }

            inputElements.forEach(function(element) {
                element.addEventListener("input", update);
            });
            return update;
        }


        var jcardElement = document.getElementById('jcard');

        // colors
        var updateCardColor = addColorListener(
            jcardElement.querySelector('.options .card-color'),
            jcardElement.querySelector('.bleed'), 'backgroundColor');
        var updateTextColor = addColorListener(
            jcardElement.querySelector('.options .text-color'),
            jcardElement.querySelector('.card'), 'color');

        // cover image
        addImageListener(
            jcardElement.querySelector('.options .cover'),
            jcardElement.querySelector('.card .cover'));

        // short back
        var updateShortBack = addCheckboxListener(
            jcardElement.querySelector('.options .short-back'), [
                jcardElement.querySelector('.card .bleed'),
                jcardElement.querySelector('.card .back')
            ], 'short');

        // simple text fields
        var updateTitle = addInputListener(
            jcardElement.querySelector('.options .title'), [
                jcardElement.querySelector('.card .front .title'),
                jcardElement.querySelector('.card .spine .title')
        ]);
        var updateSubtitle = addInputListener(
            jcardElement.querySelector('.options .subtitle'), [
                jcardElement.querySelector('.card .front .subtitle'),
                jcardElement.querySelector('.card .spine .subtitle')
        ]);
        var updateNoteTop = addInputListener(
            jcardElement.querySelector('.options .note-top'),
            [jcardElement.querySelector('.card .note-top')]
        );
        var updateNoteBottom = addInputListener(
            jcardElement.querySelector('.options .note-bottom'),
            [jcardElement.querySelector('.card .note-bottom')]
        );
        var updateType = addInputListener(
            jcardElement.querySelector('.options .type'),
            [jcardElement.querySelector('.card .type')]
        );

        // track fields
        var updateTracks = addTrackListener([
                jcardElement.querySelector('.options .side-a'),
                jcardElement.querySelector('.options .side-b')
            ], [
                jcardElement.querySelector('.card .side-a .tracks'),
                jcardElement.querySelector('.card .side-b .tracks')
            ],
            jcardElement.querySelector('.card .front .tracks'),
            '&nbsp;• ');


        // initialize template
        updateCardColor();
        updateTextColor();
        updateShortBack();
        updateTitle();
        updateSubtitle();
        updateNoteTop();
        updateNoteBottom();
        updateType();
        updateTracks();
    })();
</script>
