// Printable j-card template with controls
//
// Requires:
//    base/config.scss


.jcard {
    // center immediate children
    text-align: center;
    &-template, &-controls { text-align: initial; }

    &-template {
        display: inline-block;
        margin-bottom: $text-wide-gap;
    }

    @media print {
        text-align: initial;

        &-template { margin: 0; }
        &-controls { display: none; }
    }
}

