/* styles for _layouts/base.html */

// site
$column-width: 600px;

// body
$background-color: #fff;
$text-color: #000;
$text-font: "Alte Haas Grotesk", sans-serif;
$text-line-height: 1.3;
$link-color: #00f;

// misc
$border-color: #999;


/* import fonts */
@mixin font-face($family, $filename, $weight: normal, $style: normal) {
    @font-face {
        font-family: $family;
        src: url("../fonts/#{$filename}") format("truetype");
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face("Alte Haas Grotesk", "alte-haas-grotesk.ttf");
@include font-face("Alte Haas Grotesk", "alte-haas-grotesk-bold.ttf", bold);


/* site */
body {
    margin: 1em;

    font-family: "Alte Haaas Grotesk", sans-serif;
    line-height: $text-line-height;

    -webkit-print-color-adjust: exact;

    @media print {
        margin: 0;
    }
}
a {
    color: $link-color;
    text-decoration: none;

    &:hover { text-decoration: underline; }
}
h1, h2 {
    margin: 0.5em 0 0.25em;
}

form {
    fieldset {
        border: 1px solid $border-color;
        margin: 0 0 0.5em;
        padding: 0.5em;
    }
    legend {
        font-weight: bold;
    }
    label {
        display: inline-block;
        width: 100px;
        padding-right: 0.5em;
        text-align: right;
        vertical-align: top;
    }
    label, input, textarea {
        margin: 0.125em 0;
    }
    input, textarea {
        vertical-align: middle;
    }
    input[type=checkbox] {
        vertical-align: text-bottom;
    }
    input[type=text], input[type=number], textarea {
        padding: 0.125em;
        border: 1px solid $border-color;
    }
    input[type=number] {
        width: 100px;
    }
    input[type=text], textarea {
        width: 350px;

        &.narrow {
            width: calc(175px - 0.325em);
            margin-right: 0.25em;
        }
    }
    textarea {
        height: 128px;
    }
    input[type=color] {
        margin-right: 0.25em;
    }
}

/* content */
#column {
    width: $column-width;
    margin: 0 auto;

    @media print { margin: 0; }
}
#footer {
    margin-top: 2em;
    padding-top: 0.5em;
    border-top: 1px dashed #000;
}

/* decorators */
.noprint {
    @media print { display: none; }
}

/* draw crop marks */
.crop-marks {
    background: inherit;

    &:before, &:after {
        position: absolute;
        z-index: -1;
        content: '';
        border: solid;
    }
    &:before {
        top: -0.25in;
        left: 0;
        bottom: -0.25in;
        right: 0;
        border-width: 0 1pt;
    }
    &:after {
        top: 0;
        bottom: 0;
        left: -0.25in;
        right: -0.25in;
        border-width: 1pt 0;
    }
}

/* draw fold mark */
// position absolute and use "right" to align
.vert-fold-mark {
    background: inherit;

    &:before {
        position: absolute;
        top: -0.25in;
        bottom: -0.25in;

        // if using "left" to align the mark, swap these values -- otherwise
        // the pseudo-element will have a small width and incorrect position
        left: auto;
        right: 0;

        z-index: -1;
        content: '';

        border: solid;
        border-width: 0 1pt 0 0;
    }
}
