/* styles for _layouts/jcard.html */

$card-width: 4.056in;
$card-height: 4in;
$bleed: 0.1in;
$side-margin: 0.15in;
$short-back-height: 0.6in;

/* J-Card template */
#jcard {
    /* */
    .card {
        position: relative;
        width: $card-width;
        height: $card-height;
        margin: (4 * $bleed) auto;

        font-family: "Alte Haas Grotesk", sans-serif;
        text-transform: uppercase;
        line-height: 1.1;

        /* minimal margins when printing */
        @media print { margin: 2 * $bleed; }

        /* common styles */
        .title, .subtitle, .label {
            font-weight: bold;
        }

        /*  */
        .bleed {
            /* create new stacking context to contain crop marks */
            position: absolute;
            z-index: 0;

            top: -$bleed;
            right: -$bleed;
            bottom: -$bleed;
            left: -$bleed;

            &.short {
                left: 1in - $short-back-height - $bleed
            }

            .crop-marks {
                position: absolute;
                top: $bleed;
                right: $bleed;
                bottom: $bleed;
                left: $bleed;
            }

            .fold-1, .fold-2 {
                position: absolute;
                top: $bleed;
                bottom: $bleed;
            }
//TODO change to right:
            .fold-1 { right: $card-width + $bleed - 1in; }
            .fold-2 { right: $card-width + $bleed - 1.5in; }
        }

        /* align panels of the card */
        .back, .spine, .front {
            position: absolute;
            overflow: hidden;
        }

        /* back panel */
        .back {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            width: $card-height;
            height: 1in;

            transform:
                translateY(-1in)
                rotate(90deg);
            transform-origin: bottom left;

            font-size: 8pt;
            text-align: center;

            .side-a, .side-b {
                margin: 0 $side-margin;
            }
            .side-a { margin-bottom: 0.5em; }

            /* rearrange back panel for blank style boxes */
            &.short {
                flex-flow: row nowrap;
                justify-content: space-between;

                height: $short-back-height;
                transform:
                    translateY(-$short-back-height)
                    rotate(90deg)
                    translateY($short-back-height - 1in);

                text-align: left;

                .side-a, .side-b { width: calc(50% - 1.5 * $side-margin); }
                .side-a { margin: 0 ($side-margin / 2) 0 $side-margin; }
                .side-b { margin: 0 $side-margin 0 ($side-margin / 2) ; }

                .label, .tracks { display: inline; }
                .label:after {
                    content: ":";
                    margin-right: 0.5em;
                }
            }
        }

        /* spine panel */
        .spine {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            transform:
                translate(1in, -0.5in)
                rotate(90deg);
            transform-origin: bottom left;

            width: $card-height;
            height: 0.5in;

            .left, .right {
                flex-grow: 1;
                margin-bottom: 0.1em;
            }
            .left {
                margin-left: $side-margin;
            }
            .right {
                margin-right: $side-margin;
                text-align: right;
            }
        }

        /* front panel */
        .front {
            $front-offset: 1.5in;
            $front-width: $card-width - $front-offset;

            width: $front-width;
            height: $card-height;

            left: $front-offset;

            .cover {
                display: block;
                width: $front-width;
                height: $front-width;
                background: white;
                object-fit: cover;
            }
            .bottom {
                display: flex;
                flex-flow: column nowrap;
                align-items: stretch;
                justify-content: space-between;
                text-align: center;

                height: $card-height - $front-width - 0.1in;
                margin: 0.05in $side-margin;

                .title-group, .type {
                    flex-shrink: 0;
                }
                .tracks {
                    font-size: 9pt;
                    line-height: 1.2;
                }
                .type {
                    font-size: 8pt;
                }
            }
        }
    }
}
