{%- comment -%}
    J-Card template controls

    Requires:
        include: modules/field.html
{%- endcomment -%}


<form id="controls" class="controls">
    <fieldset>
        <legend>Options</legend>
        {% include modules/field.html id="controls-print-2" type="checkbox" label="Print 2" %}
    </fieldset>
    <fieldset>
        <legend>Layout</legend>
        <div class="columns">
            <div class="columns-column">
                {% include modules/field.html id="controls-card-color" type="color" label="Card Color" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-title-size" type="number" attrs='min="0" step="0.1"' label="Title Size" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-type-size" type="number" attrs='min="0" step="0.1"' label="Type Size" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-note-size" type="number" attrs='min="0" step="0.1"' label="Note Size" %}
            </div>
        </div>
        <div class="columns">
            <div class="columns-column">
                {% include modules/field.html id="controls-text-color" type="color" label="Text Color" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-track-size" type="number" attrs='min="0" step="0.1"' label="Track Size" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-side-size" type="number" attrs='min="0" step="0.1"' label="Side Size" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-short-back" type="checkbox" label="Short Back" %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Content</legend>
        <div class="columns">
            <div class="columns-column">
                {% include modules/field.html id="controls-cover" type="file" attrs='accept="image/*"' label="Cover" %}
                {% include modules/field.html id="controls-title" type="text" label="Title" %}
                {% include modules/field.html id="controls-subtitle" type="text" label="Subtitle" %}
                {% include modules/field.html id="controls-type" type="text" label="Type" %}
                {% include modules/field.html id="controls-note-upper" type="text" label="Note Upper" %}
                {% include modules/field.html id="controls-note-lower" type="text" label="Note Lower" %}
            </div>
            <div class="columns-column">
                {% include modules/field.html id="controls-side-a" type="textarea" attrs='rows="5"' label="Side A" %}
                {% include modules/field.html id="controls-side-b" type="textarea" attrs='rows="5"' label="Side B" %}                
            </div>
        </div>
    </fieldset>
</form>
