{%- comment -%}
    Form control with label
    The type of form control can be any of the following:
        text:   text input that sets the text of an element
        list:   text area that sets the text of an element to a joined list
        image:  image file selector that sets the src of an image element
        class:  checkbox that toggles a class on an element
        size:   number input that sets a style property to a size with units
        color:  color input that sets a style property to a color

    Parameters:
        type:   field type
        id:     input element id
        label:  label text
        value:  initial value
{%- endcomment -%}


<div class="control">
    <label class="control-label" for="{{ include.id }}">{{- include.label -}}</label>
    {% if include.type == "list" %}
        <textarea
            id="{{ include.id }}"
            class="control-tracks-input">
            {{- include.value | join: '&#10;' -}}
        </textarea>
    {% else %}
        <input
            id="{{ include.id }}"
        {% if include.type == "size" %}
            class="control-size-input"
            type="number" min="0" step="0.1"
        {% elsif include.type == "class" %}
            class="control-class-input"
            type="checkbox"
        {% elsif include.type == "color" %}
            class="control-color-input"
            type="color"
        {% elsif include.type == "text" %}
            class="control-text-input"
            type="text"
        {% elsif include.type == "image" %}
            class="control-image-input"
            type="file" accept="image/*"
        {% endif %}
        {% if include.value %}
            value="{{ include.value }}"
        {% endif %}
        />
    {% endif %}
</div>
