{%- comment -%}
    J-Card template controls

    Parameters:
        id:     root element ID
    Requires:
        include: modules/field.html
{%- endcomment -%}


{%- assign id = include.id -%}

<form id="{{ include.id }}" class="controls">
    <fieldset>
        <legend>Layout</legend>
        {% include modules/field.html type="number" attrs='min="0" step="0.1"' class="controls-title-size" label="Title Size" %}
        {% include modules/field.html type="number" attrs='min="0" step="0.1"' class="controls-track-size" label="Track Size" %}
        {% include modules/field.html type="number" attrs='min="0" step="0.1"' class="controls-type-size" label="Type Size" %}
        {% include modules/field.html type="number" attrs='min="0" step="0.1"' class="controls-note-size" label="Note Size" %}
        {% include modules/field.html type="number" attrs='min="0" step="0.1"' class="controls-back-size" label="Back Size" %}
        {% include modules/field.html type="checkbox" class="controls-short-back" label="Short Back" %}
    </fieldset>
    <fieldset>
        <legend>Content</legend>
        {% include modules/field.html type="color" class="controls-card-color" label="Card Color" %}
        {% include modules/field.html type="color" class="controls-text-color" label="Text Color" %}
        {% include modules/field.html type="file" attrs='accept="image/*"' class="controls-cover" label="Cover" %}
        {% include modules/field.html type="text" class="controls-title" label="Title" %}
        {% include modules/field.html type="text" class="controls-subtitle" label="Subtitle" %}
        {% include modules/field.html type="text" class="controls-type" label="Type" %}
        {% include modules/field.html type="text" class="controls-note-upper" label="Note Upper" %}
        {% include modules/field.html type="text" class="controls-note-lower" label="Note Lower" %}
        {% include modules/field.html type="textarea" class="controls-side-a" label="Side A" %}
        {% include modules/field.html type="textarea" class="controls-side-b" label="Side B" %}
    </fieldset>
</form>
