{%- comment -%}
    Blank j-card template.]

    Parameters:
        id:     root element ID
    Requires:
        var:    site.baseurl
        data:   site.data.static.root           # static asset root
        data:   site.data.static.images.cover   # cover metadata
{%- endcomment -%}


<div id="{{ include.id }}" class="jcard printable short">
    <div class="jcard-bleed printable-bleed"></div>
    <div class="jcard-crop printable-crop"></div>
    <div class="jcard-fold-1 printable-fold"></div>
    <div class="jcard-fold-2 printable-fold"></div>

    <div class="jcard-back">
        <div class="jcard-side-a"></div>
        <div class="jcard-side-b"></div>
    </div>

    <div class="jcard-spine">
        <div class="jcard-spine-title-group">
            <div class="jcard-spine-title"></div>
            <div class="jcard-spine-subtitle"></div>
        </div>
        <div class="jcard-note-group">
            <div class="jcard-note-upper"></div>
            <div class="jcard-note-lower"></div>
        </div>
    </div>

    <div class="jcard-front">
        <img class="jcard-cover" src="{{ site.baseurl }}{{ static.root }}{{ static.images.cover }}" alt="Cover image" />
        <div class="jcard-front-group">
            <div class="jcard-front-title-group">
                <div class="jcard-front-title"></div>
                <div class="jcard-front-subtitle"></div>
            </div>
            <div class="jcard-tracks"></div>
            <div class="jcard-type"></div>
        </div>
    </div>
</div>
