{%- comment -%}
    Printable J-Card with controls.

    Parameters:
        jcard:              card content
        jcard.card_color:   background color
        jcard.text_color:   text and marker color
        jcard.title:        front and spine title
        jcard.subtitle:     front and spine subtitle
        jcard.type: front   bottom text
        jcard.note_upper:   spine note upper
        jcard.note_lower:   spine note lower
        jcard.side_a:       list of side"A" tracks
        jcard.side_b:       list of side "B" tracks
    Requires:
        var: site.baseurl
        data: site.data.static.root         # static asset root
        data: site.data.static.images.cover # cover metadata
{%- endcomment -%}


{%- assign static = site.data.static -%}
{%- assign jcard = include.jcard -%}

<div id="jcard" class="jcard">
    <div class="card">
        <div class="bleed">
            <div class="crop-marks"></div>
            <div class="fold-1 vert-fold-mark"></div>
            <div class="fold-2 vert-fold-mark"></div>
        </div>
        <div class="back">
            <div class="side-a">
                <div class="label">Side A</div>
                <div class="tracks"></div>
            </div>
            <div class="side-b">
                <div class="label">Side B</div>
                <div class="tracks"></div>
            </div>
        </div>
        <div class="spine">
            <div class="title-group">
                <div class="title"></div>
                <div class="subtitle"></div>
            </div>
            <div class="note-group">
                <div class="note-upper"></div>
                <div class="note-lower"></div>
            </div>
        </div>
        <div class="front">
            <img class="cover" src="{{ site.baseurl }}{{ static.root }}{{ static.images.cover }}" alt="Cover image" />
            <div class="info-group">
                <div class="title-group">
                    <div class="title"></div>
                    <div class="subtitle"></div>
                </div>
                <div class="tracks"></div>
                <div class="type"></div>
            </div>
        </div>
    </div>
    <form class="options">
        <fieldset>
            <legend>Layout</legend>
            {% include modules/size_field.html
                id="title-size" label="Title Size" value="12"
                outputs="#jcard .card .front .title-group, #jcard .card .spine .title-group" %}

            {% include modules/size_field.html
                id="track-size" label="Track Size" value="9"
                outputs="#jcard .card .front .tracks" %}

            {% include modules/size_field.html
                id="type-size" label="Type Size" value="10"
                outputs="#jcard .card .front .type" %}

            {% include modules/size_field.html
                id="note-size" label="Note Size" value="10"
                outputs="#jcard .card .spine .note-group" %}

            {% include modules/size_field.html
                id="back-size" label="Back Size" value="8"
                outputs="#jcard .card .back .side-a, #jcard .card .back .side-b" %}

            <div>
                <label>Short Back</label>
                <input class="short-back" type="checkbox" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Content</legend>
            <div>
                <label>Colors</label>
                <input class="card-color" type="color" value="{{ jcard.card_color }}"
                /><input class="text-color" type="color" value="{{ jcard.text_color }}" />
            </div>
            <div>
                <label>Cover</label>
                <input class="cover" type="file" />
            </div>
            <div>
                <label>Title</label>
                <input class="title" type="text" value="{{ jcard.title }}" />
            </div>
            <div>
                <label>Subtitle</label>
                <input class="subtitle" type="text" value="{{ jcard.subtitle }}" />
            </div>
            <div>
                <label>Note</label>
                <input class="note-upper narrow" type="text" value="{{ jcard.note_upper }}"
                /><input class="note-lower narrow" type="text" value="{{ jcard.note_lower }}" />
            </div>
            <div>
                <label>Type</label>
                <input class="type" type="text" value="{{ jcard.type }}" />
            </div>
            <div>
                <label>Side A</label>
                <textarea class="side-a">{{ jcard.side_a | join: '&#10;' }}</textarea>
            </div>
            <div>
                <label>Side B</label>
                <textarea class="side-b">{{ jcard.side_b | join: '&#10;' }}</textarea>
            </div>
        </fieldset>
    </form>
</div>
<script>
    (function() {
        var jcardElement = document.getElementById('jcard');

        // short back
        fields.addCheckboxListener(
            jcardElement.querySelector('.options .short-back'), [
                jcardElement.querySelector('.card .bleed'),
                jcardElement.querySelector('.card .back')
            ], 'short');


        // colors
        fields.addColorListener(
            jcardElement.querySelector('.options .card-color'),
            jcardElement.querySelector('.bleed'), 'backgroundColor');
        fields.addColorListener(
            jcardElement.querySelector('.options .text-color'),
            jcardElement.querySelector('.card'), 'color');

        // cover image
        fields.addImageListener(
            jcardElement.querySelector('.options .cover'),
            jcardElement.querySelector('.card .cover'));

        // title
        fields.addInputListener(
            jcardElement.querySelector('.options .title'), [
                jcardElement.querySelector('.card .front .title'),
                jcardElement.querySelector('.card .spine .title')
        ]);

        // subtitle
        fields.addInputListener(
            jcardElement.querySelector('.options .subtitle'), [
                jcardElement.querySelector('.card .front .subtitle'),
                jcardElement.querySelector('.card .spine .subtitle')
        ]);

        // note upper
        fields.addInputListener(
            jcardElement.querySelector('.options .note-upper'),
            [jcardElement.querySelector('.card .note-upper')]
        );

        // note lower
        fields.addInputListener(
            jcardElement.querySelector('.options .note-lower'),
            [jcardElement.querySelector('.card .note-lower')]
        );

        // type
        fields.addInputListener(
            jcardElement.querySelector('.options .type'),
            [jcardElement.querySelector('.card .type')]
        );

        // track fields
        fields.addTrackListener([
                jcardElement.querySelector('.options .side-a'),
                jcardElement.querySelector('.options .side-b')
            ], [
                jcardElement.querySelector('.card .side-a'),
                jcardElement.querySelector('.card .side-b')
            ],
            jcardElement.querySelector('.card .front .tracks'));
    })();
</script>
