{%- comment -%}
    Printable J-Card with controls.

    Parameters:
        jcard:              card content
        jcard.card_color:   background color
        jcard.text_color:   text and marker color
        jcard.title:        front and spine title
        jcard.subtitle:     front and spine subtitle
        jcard.type: front   bottom text
        jcard.note_upper:   spine note upper
        jcard.note_lower:   spine note lower
        jcard.side_a:       list of side "A" tracks
        jcard.side_b:       list of side "B" tracks
    Requires:
        var: site.baseurl
        data: site.data.static.root         # static asset root
        data: site.data.static.images.cover # cover metadata
{%- endcomment -%}


{%- assign static = site.data.static -%}
{%- assign jcard = include.jcard -%}

<div id="jcard" class="jcard">
    <div class="card">
        <div class="bleed">
            <div class="crop-marks"></div>
            <div class="fold-1 vert-fold-mark"></div>
            <div class="fold-2 vert-fold-mark"></div>
        </div>
        <div class="back">
            <div class="side-a"></div>
            <div class="side-b"></div>
        </div>
        <div class="spine">
            <div class="title-group">
                <div class="title"></div>
                <div class="subtitle"></div>
            </div>
            <div class="note-group">
                <div class="note-upper"></div>
                <div class="note-lower"></div>
            </div>
        </div>
        <div class="front">
            <img class="cover" src="{{ site.baseurl }}{{ static.root }}{{ static.images.cover }}" alt="Cover image" />
            <div class="info-group">
                <div class="title-group">
                    <div class="title"></div>
                    <div class="subtitle"></div>
                </div>
                <div class="tracks"></div>
                <div class="type"></div>
            </div>
        </div>
    </div>
    <form class="options">
        <fieldset>
            <legend>Layout</legend>
            {% include modules/control.html type="size" id="jcard-title-size" label="Title Size" value="12" %}
            {% include modules/control.html type="size" id="jcard-track-size" label="Track Size" value="9" %}
            {% include modules/control.html type="size" id="jcard-type-size" label="Type Size" value="10" %}
            {% include modules/control.html type="size" id="jcard-note-size" label="Note Size" value="10" %}
            {% include modules/control.html type="size" id="jcard-back-size" label="Back Size" value="8" %}

            {% include modules/control.html type="class" id="jcard-short-back" label="Short Back" %}
        </fieldset>
        <fieldset>
            <legend>Content</legend>
            {% include modules/control.html type="color" id="jcard-card-color" label="Card Color" value=jcard.card_color %}
            {% include modules/control.html type="color" id="jcard-text-color" label="Text Color" value=jcard.text_color %}
            {% include modules/control.html type="image" id="jcard-cover" label="Cover" %}

            {% include modules/control.html type="text" id="jcard-title" label="Title" value=jcard.title %}
            {% include modules/control.html type="text" id="jcard-subtitle" label="Subtitle" value=jcard.subtitle %}
            {% include modules/control.html type="text" id="jcard-type" label="Type" value=jcard.type %}
            {% include modules/control.html type="text" id="jcard-note-upper" label="Note Upper" value=jcard.note_upper %}
            {% include modules/control.html type="text" id="jcard-note-lower" label="Note Lower" value=jcard.note_lower %}

            {% include modules/control.html type="list" id="jcard-side-a" label="Side A" value=jcard.side_a %}
            {% include modules/control.html type="list" id="jcard-side-b" label="Side B" value=jcard.side_b %}
        </fieldset>
    </form>
</div>
<script>
    (function() {
        // layout
        control.addSizeListener('#jcard-title-size', ['#jcard .front .title-group', '#jcard .spine .title-group']);
        control.addSizeListener('#jcard-track-size', ['#jcard .front .tracks']);
        control.addSizeListener('#jcard-type-size', ['#jcard .type']);
        control.addSizeListener('#jcard-note-size', ['#jcard .spine .note-group']);
        control.addSizeListener('#jcard-back-size', ['#jcard .back .side-a', '#jcard .back .side-b']);

        control.addClassListener('#jcard-short-back', ['#jcard .card .bleed', '#jcard .back'], 'short');

        // content
        control.addColorListener('#jcard-card-color', ['#jcard .bleed'], 'backgroundColor');
        control.addColorListener('#jcard-text-color', ['#jcard .card'], 'color');
        control.addImageListener('#jcard-cover', '#jcard .cover');

        control.addTextListener('#jcard-title', ['#jcard .front .title', '#jcard .card .spine .title']);
        control.addTextListener('#jcard-subtitle', ['#jcard .front .subtitle', '#jcard .card .spine .subtitle']);
        control.addTextListener('#jcard-type', ['#jcard .card .type']);
        control.addTextListener('#jcard-note-upper', ['#jcard .note-upper']);
        control.addTextListener('#jcard-note-lower', ['#jcard .note-lower']);

        control.addListListener('#jcard-side-a', '#jcard .side-a');
        control.addListListener('#jcard-side-b', '#jcard .side-b');
        control.addMultiListListener(['#jcard-side-a', '#jcard-side-b'], '#jcard .front .tracks');
    })();
</script>
