{%- comment -%}
    Checkbox field that toggles a class on an element

    Parameters:
        id:         input id
        label:      field label
        class:      class to toggle
        targets:    comma list of selectors
{%- endcomment -%}


<div class="toggle-field">
    <label for="{{ include.id }}">{{- include.label -}}</label>
    <input id="{{ include.id }}" 
        class="toggle-back"
        type="checkbox" />
</div>
<script>
    (function() {
        fields.addToggleListener(
            '#{{ include.id }}',
            ['{{ include.targets | split: ", " | join: "', '" }}'],
            '{{ include.class }}');
    })();
</script>
